:root {
    --pink: #f54544;
    --white: #fff;
    --black: #000;
    --post-blue: #0016c1;
    --post-shop: #34885d;
    --post-work: #994b03;
    --post-music: #676767;
    --post-sky: #2db2eb;
    --link-hover: #c6e6ff;
    --link-hover-dark: #7dc1ff;
}

.bg-trans {
    background-color: transparent;
}

html {
    font-size: 12px;
}

.body {
    /* These rules create an artificially confined space, so we get
       a scrollbar that we can hide. They are not directly involved in
       hiding the scrollbar. */

    border: none;
    padding: .5em;

    white-space: pre-wrap;
    height: 5em;
    overflow-y: scroll;

    /* This is the magic bit for Firefox */
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected{
    background-color: transparent !important;
}

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

.fp-slide {
    float: left;
}

.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.fp-slidesContainer {
    float: left;
    position: relative;
}

.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}

.fp-scroller {
    overflow: hidden;
}

.iScrollIndicator {
    border: 0 !important;
}

.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
    right: 17px;
}

#fp-nav.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.bottom {
    bottom: 17px;
}

.fp-slidesNav.top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

.news .swiper-container-horizontal > .swiper-pagination-bullets,
.news .swiper-pagination-custom, .news .swiper-pagination-fraction {
    bottom: 30px;
    left: auto;
    width: auto;
    right: 30px;
}

.swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
    background-color: transparent !important;
    opacity: 1 !important;
    border: solid 2px #fff;
}

.news .swiper-pagination-bullet {
    border: solid 2px var(--post-blue);
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.news .swiper-pagination-bullet-active {
    background-color: var(--post-blue) !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0;
    right: auto;
    bottom: 90px;
    width: 200px;
    height: auto;
    top: 90px;
    margin-top: 0;
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/60764f582c35940f11e9fb18_arrow-left.png), auto;
}

.news .swiper-button-prev,
.news .swiper-container-rtl .swiper-button-next {
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/60836e23ae1ca4a1ee520702_arrow-left-blue.png), auto;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
    left: auto;
    bottom: 90px;
    width: 200px;
    height: auto;
    top: 90px;
    margin-top: 0;
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/60764f576f4a2ff8af71b9db_arrow-right.png), auto;
}

.news .swiper-button-next,
.news .swiper-container-rtl .swiper-button-prev {
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/60836e23dad40dae03487f9f_arrow-right-blue.png), auto;
}

.w-richtext:before,
.w-richtext:after,
.w-embed:before,
.w-embed:after {
    content: none;
}

.menu-active .menu-line:nth-of-type(1),
.menu-active .menu-line:nth-of-type(4) {
    opacity: 0;
}

.menu-active .menu-line:nth-of-type(2) {
    transform: translate3d(0px, 5.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.menu-active .menu-line:nth-of-type(3) {
    transform: translate3d(0px,-5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.sidebar-contain-active {
    display: flex;
    transform: translate(0, 0);
}

/*gallery-section section style starts*/
.gallery-section .swiper-container .swiper-pagination-bullets {
    bottom: 122px !important;
}

.gallery-section .img-bg {
    height: calc(100vh - 180px);
}

/*gallery-section section style ends*/


/*nav section style starts*/
.nav-section .swiper-slide {
    width: calc(50% - 30px) !important;
}

.nav-section .swiper-container-horizontal > .swiper-pagination-bullets,
.news-section .swiper-container-horizontal > .swiper-pagination-bullets,
.info-section .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
    right: 60px;
    width: auto;
    left: auto;
}

.square:hover > div,
.square:hover .square-desc,
.square:hover .learn-text,
.square:hover .learn-more-svg {
    color: #c6e6ff;
}

/*nav section style ends*/


/*news section style starts*/
.news-section .news-item:hover .news-type,
.news-section .news-item:hover .news-title,
.news-section .news-item:hover .news-date {
    color: var(--link-hover);
}

.news-section .swiper-slide {
    width: calc((100% - 90px) / 3) !important;
}

/*news section style ends*/


/*info-section style starts*/
.info-section .collaborator a {
    color: #fff;
}

.info-section .w-richtext:before,
.info-section .w-richtext:after,
.info-section .w-embed:before,
.info-section .w-embed:after {
    content: none;
}

.info-section .layout1 .info-img-hover:after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 22, 193, 0.15);
}

/*info-section style ends*/


/*news page style starts*/
.news .menu-line {
    background-color: var(--post-blue);
}

.news .footer-border {
    background-color: var(--post-blue);
}

.news .grid-lg,
.news .grid-sml,
.news .grid-xs {
    opacity: 1 !important;
}

.news .footer-grid-block,
.news .footer-text,
.news .footer-link,
.news .signup.mt20 {
    color: var(--post-blue);
}

.news .footer-link:hover,
.news .signup.mt20:hover {
    color: var(--link-hover-dark);
}

.news .signup.mt20 {
    border-color: var(--post-blue);
}

.news .news-learn-more,
.news .learn-more-svg {
    color: var(--post-blue) !important;
}

.news .news-learn-more:hover {
    color: var(--link-hover-dark) !important;
}

.news .news-learn-more:hover .learn-text {
    color: var(--link-hover-dark);
}

.news .news-learn-more:hover .learn-more-svg {
    color: var(--link-hover-dark) !important;
}

.news .news-list-item .news-img-contain:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 66.67%;
}

.news .news-list-item:hover .news-img-contain:before {
    background-color: rgba(0, 22, 193, 0.2);
}

.news .news-list-item:hover .news-type {
    color: var(--post-blue) !important;
}

.news .news-list-item:hover .news-date {
    color: var(--post-blue) !important;
}

/*news page style ends*/

/*news-detail style starts*/
.news-detail .post .swiper-container-horizontal > .swiper-pagination-bullets,
.news-detail .post .swiper-pagination-custom, .news .swiper-pagination-fraction {
    right: 0;
    bottom: 0;
}

.news-detail .content .profile span.text {
    margin-bottom: 4rem;
    /*font-size: 2rem;*/
    /*line-height: 2rem;*/
    display: block;
}

.news-detail .content .profile span.text {
    display: block;
    width: 66.666666%;
    padding: 0 15px;
}

.news-detail .content .profile a {
    color: var(--post-blue);
    display: inline;
    /*font-size: 2rem;*/
    /*line-height: 2rem;*/
    text-decoration: underline;
}

.news-detail .content .profile a:hover{
    color: var(--link-hover-dark);
}

.news-detail .content .profile img {
    margin-bottom: 4rem;
    padding: 0 15px;
    max-height: 1000px;
}

/*news-detail style ends*/


/*info-detail style starts*/
.info-detail .content .profile img {
    padding: 0;
}
/*info-detail style ends*/



/*eat style starts*/
.eat .menu-active .menu-line{
    background-color:#ffffff;
}
.bg-trans{
    background-color:transparent !important;
}
.bg-white{
    background-color:rgba(255, 255, 255, 0.75) !important;
}
.eat .logo-scroll .logo-text{
    font-size: 3.75rem;
    line-height: 3.75rem;
    display: inline-block;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: transparent;
    margin-right:12px
}
.eat .img-slide-scroll{
    padding-top:210px;
}
.eat .img-slide{
    height:var(--vh);
}
@media screen and (min-width: 1921px){
    .eat .img-slide {
        height: 969px;
    }
}
.eat .footer-border {
    background-color: var(--pink);
}

.eat .grid-lg,
.eat .grid-sml,
.eat .grid-xs {
    opacity: 1 !important;
}

.eat .footer-grid-block,
.eat .footer-text,
.eat .footer-link,
.eat .signup.mt20 {
    color: var(--pink);
}

.eat .footer-link:hover,
.eat .signup.mt20:hover {
    /*color: var(--pink);*/
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--pink);
}

.eat .signup.mt20 {
    border-color: var(--pink);
}

.eat .learn-more-arrow {
    color: var(--pink) !important;
}

.eat .news-learn-more:hover {
    color: var(--pink) !important;
}

.eat .news-learn-more:hover .learn-text {
    color: var(--pink);
}

.eat .news-learn-more:hover .learn-more-svg {
    color: var(--pink) !important;
}
.eat .sidebar{background-color: var(--pink)}
.eat .sidebar .nav-title{
    color: var(--white);
}
.eat .sidebar .nav-title:hover{
    color: var(--link-hover);
}
.eat .eat-logo .logo-text{
    color: transparent !important;
    cursor: pointer;
    /*-webkit-text-fill-color: var(--white); !* Will override color (regardless of order) *!*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--pink);
    transition: all .1s linear;
}
.eat .swiper-container-horizontal > .swiper-pagination-bullets,
.eat .swiper-pagination-custom, .news .swiper-pagination-fraction {
    bottom: 0;
    left: auto;
    width: auto;
    right: 0;
}
.eat .swiper-pagination-bullet-active{
    background-color: var(--pink) !important;
}
.eat .swiper-pagination-bullet {
    border: solid 2px var(--pink);
}
.eat .swiper-button-next,
.eat .swiper-container-rtl .swiper-button-prev {
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/6088cdb63bb46b4f46413999_arrow-right-eat.png), auto;
    bottom: 30px;
    top: 0;
}
.eat .swiper-button-prev,
.eat .swiper-container-rtl .swiper-button-next {
    cursor: url(https://uploads-ssl.webflow.com/6074635e07fbbbc45f34a580/6088cdb6da4aca447d81b556_arrow-left-eat.png), auto;
    bottom: 30px;
    top: 0;
}
.eat .shop-list-contain .shop-img-contain:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 66.67%;
}
.eat .shop-list-contain .shop-item:hover .shop-img-contain:before {
    background-color: rgba(245, 69, 68, 0.2);
}
.eat .mail-contain{
    background-color: var(--pink);
}
/*eat style ends*/


/*media query starts*/
@media screen and (min-width: 1921px) {
    .logo {
        left: calc((100vw - 1800px) / 2);
    }

    .menu {
        right: calc((100vw - 1800px) / 2);
    }
}

@media screen and (min-width: 1440px){
    .nav-section .swiper-slide {
        width: calc(50% - 60px) !important;
    }

    .news-section .swiper-slide {
        width: calc((100% - 180px) / 3) !important;
    }
    .news .swiper-container-horizontal > .swiper-pagination-bullets,
    .news .swiper-pagination-custom, .news .swiper-pagination-fraction {
        right: 60px;
    }
    .news .content .profile span.text {
        padding: 0 30px;
    }
    .news .content .profile img {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1279px) {
    .menu-active .menu-line:nth-of-type(2) {
        transform: translate3d(0px, 4px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .menu-active .menu-line:nth-of-type(3) {
        transform: translate3d(0px, -4.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .nav-section .swiper-container-horizontal > .swiper-pagination-bullets,
    .news-section .swiper-container-horizontal > .swiper-pagination-bullets,
    .info-section .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom, .swiper-pagination-fraction {
        right: 30px;
    }

    .news .content .profile span.text {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .footer-text,
    .footer-link,
    .footer-section .paragraph {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

@media screen and (max-width: 991px) {
    .learn-more-arrow,
    .back-news-svg{
        width: 20px;
        height: 16px;
    }

    .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
        border-width: 1px !important;
    }

    .news .swiper-pagination-bullet {
        border-color: var(--post-blue) !important;
    }

    .gallery-section .img-bg {
        height: 70vw;
    }

    .swiper-container .swiper-pagination-bullets,
    .gallery-section .swiper-container .swiper-pagination-bullets {
        bottom: 30px !important;
        right: 30px !important;
        left: auto !important;
        width: auto !important;
    }

    .news .swiper-container .swiper-pagination-bullets,
    .news .gallery-section .swiper-container .swiper-pagination-bullets {
        bottom: auto !important;
        top: calc(70vw + 96px) !important;
        right: 30px !important;
    }

    .news-detail .post .swiper-container .swiper-pagination-bullets,
    .news-detail .post .gallery-section .swiper-container .swiper-pagination-bullets {
        bottom: 0 !important;
        top: auto !important;
    }

    .eat .swiper-container .swiper-pagination-bullets,
    .eat .gallery-section .swiper-container .swiper-pagination-bullets {
        bottom: auto !important;
        top: calc(70vw + 15px) !important;
        right: 30px !important;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        display: none;
    }

    .nav-section .nav-swiper-container-sml .swiper-slide {
        width: 100% !important;
        height: 100% !important;
    }

    .news-section .swiper-slide {
        width: calc((100% - 60px) / 2) !important;
        margin: 0 15px;
    }

    .news .post .swiper-container-horizontal > .swiper-pagination-bullets,
    .news .post .swiper-pagination-custom, .news .swiper-pagination-fraction {
        right: 30px;
    }

    .out-link-arrow {
        width: 15px;
        height: 15px;
    }

    .play-btn{
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 601px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    .menu-active .menu-line:nth-of-type(2) {
        transform: translate3d(0px, 4px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .menu-active .menu-line:nth-of-type(3) {
        transform: translate3d(0px, -4.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .news-section .news-swiper-container-xs .swiper-slide {
        width: 100% !important;
        margin: 0;
    }

    .footer-text,
    .footer-link,
    .footer-section .paragraph {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .sidebar-contain .mail-contain {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
        box-sizing: border-box;
        padding: 23px 30px 30px;
    }

    .sidebar-contain .mail-contain .email-submit {
        left: 50%;
        right: auto;
        width: auto;
        transform: translateX(-50%);
    }

    .news .swiper-container .swiper-pagination-bullets,
    .news .gallery-section .swiper-container .swiper-pagination-bullets {
        top: calc(70vw + 100px) !important;
        right: 30px !important;
    }

    .news-detail .post .swiper-container .swiper-pagination-bullets,
    .news-detail .post .gallery-section .swiper-container .swiper-pagination-bullets{
        bottom: 10px !important;
        right: 30px !important;
        top: auto !important;
    }

    .eat .swiper-container .swiper-pagination-bullets, .eat .gallery-section .swiper-container .swiper-pagination-bullets {
        top: calc(66.7vw + 15px) !important;
    }

    .eat .swiper-pagination-bullets {
        top: calc(66.7vw + 20px);
        bottom: unset;
    }

    .eat .logo-scroll .logo-text {

        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
        display: block !important;
    }
    .eat .eat-logo .logo-text{
        -webkit-text-stroke-width: 1.5px;
    }
    .news .footer-contain,
    .eat .footer-contain,
    .leasing .footer-contain{
        margin-top: 90px;
    }
}

.col-md-2,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-12,
.col-sm-2,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-12,
.col-xs-2,
.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-12 {
    padding: 0 15px
}

.col-xs-2 {
    width: 16.666666%
}

.col-xs-4 {
    width: 33.333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-8 {
    width: 66.666666%
}

.col-xs-12 {
    width: 100%
}

@media only screen and (min-width: 1440px) {
    .col-lg-4,
    .col-lg-6,
    .col-lg-8,
    .col-lg-12,
    .col-md-2,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-12 .col-lg-2,
    .col-sm-2,
    .col-sm-4,
    .col-sm-6,
    .col-sm-8,
    .col-sm-12,
    .col-xs-2,
    .col-xs-4,
    .col-xs-6,
    .col-xs-8,
    .col-xs-12 {
        padding: 0 30px
    }

}

@media only screen and (min-width: 600px) {
    .col-sm-2 {
        width: 16.666666%
    }

    .col-sm-4 {
        width: 33.333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-8 {
        width: 66.666666%
    }

    .col-sm-12 {
        width: 100%
    }
}

@media only screen and (min-width: 1024px) {
    .col-md-2 {
        width: 16.666666%
    }

    .col-md-4 {
        width: 33.333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-8 {
        width: 66.666666%
    }

    .col-md-12 {
        width: 100%
    }
}

@media only screen and (min-width: 1281px) {
    /*.col-lg-4,*/
    /*.col-lg-6,*/
    /*.col-lg-8,*/
    /*.col-lg-12,*/
    /*.col-md-2,*/
    /*.col-md-4,*/
    /*.col-md-6,*/
    /*.col-md-8,*/
    /*.col-md-12 .col-lg-2,*/
    /*.col-sm-2,*/
    /*.col-sm-4,*/
    /*.col-sm-6,*/
    /*.col-sm-8,*/
    /*.col-sm-12,*/
    /*.col-xs-2,*/
    /*.col-xs-4,*/
    /*.col-xs-6,*/
    /*.col-xs-8,*/
    /*.col-xs-12 {*/
    /*    padding: 0 30px*/
    /*}*/

    .col-lg-2 {
        width: 16.666666%
    }

    .col-lg-4 {
        width: 33.333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-8 {
        width: 66.666666%
    }

    .col-lg-12 {
        width: 100%;
    }
}

/*media query ends*/
